.button{
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px 8px;
}
.link{
    text-decoration: none;
    padding: 2px 5px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}

